
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


body {
    text-align: center;
    font-family: sans-serif;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.head .logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 30px;
}

.head .navbar {
    display: flex;
    margin-right: 10px;
}

.head .navbar a {
    display: flex;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.head .navbar a:hover {
    background: #3f3f3f;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
}

.header .title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.header p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.header .btn {
    display: grid;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.header .btn:hover {
    background: none;
}

.header .btn-home {
    display: flex;
}

.header .btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .sau {
    padding: 30px;
    background: #1f1d1d;
}

.content .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.content .box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.content .box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}

.content .box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
}

.content .box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

/* Sección Nosotros */
.about {
    background: #171717;
}

.about .title {
    margin-bottom: 0;
    font-size: 40px;
}

.about .sau {
    height: 100vh;
}

.about .navbar {
    display: grid;
}

/* Sección Precio */
.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/* Sección Contacto */
.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}